*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#frontpage{
    height: 145%;
    width: 100%;
    /* background-color: aquamarine; */
    background-image: url(https://static.wixstatic.com/media/90494d_07f2437fef37414394348168f38187ef~mv2.jpg/v1/fill/w_1349,h_886,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_07f2437fef37414394348168f38187ef~mv2.jpg);
    background-repeat: no-repeat;
}
#frontpage h1{
    color: black;
    font-size: 75px;
    font-weight: 900;
    text-align: left;
    margin-left: 50px;
    padding-top: 50px;
    text-shadow: 2px 3px black;
}
#box{
    height: 19%;
    width: 20%;
    margin-top: 40%;
    margin-left: 15%;
}
#box h2{
    color: black;
    line-height: 1.3;
    font-size: 45px;
    font-weight: 500;
    text-shadow: 2px 3px grey;
}
#line{
    height: 15%;
    width: 100%;
   border-width: 5px 5px;
   border-color: rgb(97, 104, 106);
   border-style: solid;
    background-color:whitesmoke;
}
/* #secondpage{
    height: 150%;
    width: 100%;
    background-color: antiquewhite 
} */
#up{
    height: 80%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
}
#left{
    height: 100%;
    width: 40%;
    background-color: white;
    background-image: url(https://static.wixstatic.com/media/90494d_25b58849585949729e9a05686f2048f7~mv2.jpg/v1/fill/w_2500,h_1499,al_c/90494d_25b58849585949729e9a05686f2048f7~mv2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#right{
    height: 100%;
    width: 60%;
    background-color: white;
}
#right h1{
    color: rgb(61, 51, 51);
    font-size:300%;
    font-weight: 500;
    margin-left: 15%;
    margin-top: 10%;
    margin-right: 5%;
}
#right p{
    color: rgb(61, 51, 51);
    font-size:150%;
    font-weight: 500;
    margin-left: 15%;
    line-height: 1.5;
    margin-top: 1%;
    margin-right: 5%;
}
#down{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
}
#box1{
    height: 100%;
    width: 25%;
    background-color: white;
    background-image: url(https://static.wixstatic.com/media/90494d_0d52570b3b6d451e9d18775fa1632652~mv2.jpg/v1/fill/w_640,h_690,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_0d52570b3b6d451e9d18775fa1632652~mv2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#box1 h1{
    color: black;
    text-shadow: 1px 2px grey;
    font-size: 400%;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}
#box2{
    height: 100%;
    width: 25%;
    background-color: rgb(160, 95, 150);
    background-image: url(https://static.wixstatic.com/media/90494d_7e2a28e798ed496c812d142cd0be2a6a~mv2.jpg/v1/fill/w_640,h_738,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_7e2a28e798ed496c812d142cd0be2a6a~mv2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}  
    
#box2 h1{
    color: black;
    text-shadow: 1px 2px grey;
    font-size: 400%;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}
#box3{
    height: 100%;
    width: 25%;
    background-color: rgb(160, 14, 14);
    background-image: url(https://static.wixstatic.com/media/90494d_65a80acf92384e3ab31c82bb65eb4042~mv2.jpg/v1/fill/w_640,h_692,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_65a80acf92384e3ab31c82bb65eb4042~mv2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#box3 h1{
    color: black;
    text-shadow: 1px 2px grey;
    font-size: 400%;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}
#box4{
    height: 100%;
    width: 25%;
    background-color: cadetblue;
    background-image: url(https://static.wixstatic.com/media/90494d_2b8923400303475eb3b726163f5af9b2~mv2.jpg/v1/fill/w_640,h_696,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_2b8923400303475eb3b726163f5af9b2~mv2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}
#box4 h1{
    color: black;
    text-shadow: 1px 2px grey;
    font-size: 400%;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}

#line2{
    height: 15%;
    width: 100%;
   border-width: 5px 5px;
   border-color: rgb(97, 104, 106);
   border-style: solid;
    background-color:whitesmoke;
}
#video{
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(https://static.wixstatic.com/media/90494d_a413cf49e472443bae1ac26c0771cb68~mv2.jpg/v1/fill/w_640,h_700,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_a413cf49e472443bae1ac26c0771cb68~mv2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

#text{
    height: 100%;
    width: 40%;
    background-color: black;
    margin-left: 50%;
    
}
#text h2{
    color: whitesmoke;
    text-shadow: 1px 1px rgb(154, 154, 245);
    font-size: 20px;
    margin-left: 50px;
    margin-top: 25%;
    line-height: 2;
    font-weight: 200;
}

#pic{
    height: 80%;
    width: 100%;
    background-color: blue;
    display: flex;
}
#pic1{
    
    height: 100%;
    width: 30%;
    background-color: white;
    background-image: url(https://static.wixstatic.com/media/90494d_d52d19cff5bc416bb02c38d05e8c7f16~mv2.jpg/v1/fill/w_640,h_700,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_d52d19cff5bc416bb02c38d05e8c7f16~mv2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#pic2{
    height: 100%;
    width: 40%;
    background-color: white;
    background-image: url(https://static.wixstatic.com/media/90494d_2b8923400303475eb3b726163f5af9b2~mv2.jpg/v1/fill/w_640,h_696,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_2b8923400303475eb3b726163f5af9b2~mv2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#pic3{
    height: 100%;
    width: 30%;
    background-color: white;
    background-image: url(https://static.wixstatic.com/media/90494d_2e82352842914cbe8d6c4fa9f04fc590~mv2.jpg/v1/fill/w_640,h_700,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_2e82352842914cbe8d6c4fa9f04fc590~mv2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#picture{
    height: 80%;
    width: 100%;
    background-color: blue;
    display: flex;
}
#pic4{
    
    height: 100%;
    width: 30%;
    background-color: white;
    background-image: url(https://static.wixstatic.com/media/90494d_65a80acf92384e3ab31c82bb65eb4042~mv2.jpg/v1/fill/w_640,h_692,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_65a80acf92384e3ab31c82bb65eb4042~mv2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#pic5{
    height: 100%;
    width: 40%;
    background-color: white;
    background-image: url(https://static.wixstatic.com/media/90494d_193235d4f9bb4b8c8c41290db38e91fd~mv2.jpg/v1/fill/w_640,h_700,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_193235d4f9bb4b8c8c41290db38e91fd~mv2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#pic6{
    height: 100%;
    width: 30%;
    background-color: white;
    background-image: url(https://static.wixstatic.com/media/90494d_7e2a28e798ed496c812d142cd0be2a6a~mv2.jpg/v1/fill/w_640,h_738,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90494d_7e2a28e798ed496c812d142cd0be2a6a~mv2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#end{
    height: 40%;
    width: 100%;
    background-color:whitesmoke ;
    border-color: rgb(97, 104, 106);
    border-style: solid;
}
#end h1{
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
    text-decoration: underline;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-stretch: expanded;
}
#end h3{
    text-align: center;
    margin-top: 2%;
    line-height: 1.5;
    font-size: 20px;
}